--extra-index-url https://download.pytorch.org/whl/cpu
sqlalchemy>=2.0.35
fastapi
opencv-python-headless
uvicorn==0.28.0
langgraph
langchain
langchain-groq
langchain-ollama
Pillow
chromadb
sentence-transformers
tavily-python
httpx==0.27.0
beautifulsoup4==4.12.3
readability-lxml==0.8.1
lxml_html_clean
reportlab==4.1.0
qrcode==7.4.2
python-dotenv==1.0.1
sse-starlette==2.0.0
pydantic
python-multipart==0.0.9
ultralytics
torch
torchvision